 div {
     text-align: center;
     margin-top: 50px;
 }
 header
 {
    background-image: url(../hero.jpg);
    background-size: cover;
    background-position:center center ;
    background-repeat: no-repeat;
 }

 h1 {
     font-size: 80px;
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 p {
     margin: 50px;
     font-size: 35px;
 }

 button {
     width: 250px;
     height: 80px;
     background-color: lightgray;
     color: white;
 }

 button:hover {
     background-color: gray;
 }

